@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');

body {
 overflow-x: hidden;
 overflow-y: auto;
	padding: 0 0;
	text-align: center;
  position: relative; 
  z-index: 9;
  margin: 0px 0px;
  width: 100%;
  height:100vh;
  padding-right: 0 !important 
}
body:before {
  content: "";
  position: absolute;
  z-index: -1;  
  top: 0;
  right: 0;
  bottom: 20%;
  left: 0;
  background: black;
}

#nav, .active{
  color: white;
	z-index: 100;
	font-family: 'Tangerine', cursive;
	font-size: 35px;
}

#font{
	font-family: 'Tangerine', cursive;
}

 #img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
#border{
	border: 1px solid black;
}

/////////////////////////* MEDIA QUERIES *////////////////////////////////

@media (max-width: 600px) {
  body {
 overflow-x: hidden;
 overflow-y: auto;
  padding: 0 0;
  width: 100vw;
}
.card{
  width: 80vw;
  margin-top: 10vh; 
}
.row{
  padding-left: 10vw;
}
 #Home,  #Footer{
  margin-left: 0px;
}
 #Contact{
  margin-left: -100px;
}
 #Arrow{
  margin-left: 42px;
}
}
@media (min-width: 601px) {
    body {
 overflow-x: hidden;
 overflow-y: auto;
  padding: 0 0;
  width: 100vw;
}
.card{
  width: 80vw;
  margin-top: 10vh; 
}
.row{
  padding-left: 10vw;
}
 #Contact{
  margin-left: -80px;
}
 #Arrow{
  margin-left: 20px;
}
}

@media  (min-width: 770px) {
  body {
 overflow-x: hidden;
 overflow-y: auto;
  padding: 0 0;
  width: 100vw;
}
#woman{
  margin-top: 38px;
}
.card{
  width: 35vw;
    margin-top: 10vh; 
}
.row{
  padding-left: 5vw;
}
#description{
  width: 100vw;
}
 #Arrow{
  margin-left: 42px;
}
}

@media (min-width: 900px) {
    body {
 overflow-x: hidden;
 overflow-y: auto;
  padding: 0 0;
  width: 100vw;
}
#text{
  margin-top: 25px;
}
.card{
  width: 30vw;
    margin-top: 10vh; 
}
.row{
  padding-left: 5vw;
}
 #Arrow{
  margin-left: 20px;
}
}
@media (min-width: 1000px) {
  body {
 overflow-x: hidden;
 overflow-y: auto;
  padding: 0 0;
  width: 100vw;
}
#text{
  margin-top: 25px;
}

.card{
  width: 25vw;
    margin-top: 10vh; 
}
.row{
  padding-left: 5vw;
}
}

